<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
   
    <h1 class="display-3">You've regitered succesfully</h1>
    <p class="secret-text">Welcome to this portal</p>
    <hr>
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/courses" role="button">Courses</a>
  </div>
</div>

<%- include('partials/footer') %>
